* {             /*Clears all styles from body & such to remove margins & paddings*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    scroll-padding-top: 16vh;
    scroll-behavior: smooth;
}

header{
    display: flexbox;             /* Make it a flex container */
    width: 100vw;
    height: 16vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
    box-shadow: 0.5vh 0.5vh .5vh 0vh #4f4f65;
    /* justify-content: center;   Center horizontally */
    justify-items: center;
   

    background-color: #1d1d27;
    /* background-color: #ffffff; */

    position: sticky;
    top: 0;

    
}

.header-title{
    color: #d5d5ea;
    /* font-family: sans-serif; */
    font-family: 'Montserrat';
    font-weight:600;
    font-size: 2.5vw;
}

.header-section-navigation{
    display: flex;
    padding-top: 3vh;
    justify-content: center;
    width: 100vw;
}

body{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

section{
    width: 100vw;
    height: 82vh;
}

.section-body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100vw;
}

.section-title{
    display: flex;
    color: #d5d5ea;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size: 2vw;
    padding-top: 5%;
    width: 100%;
}

.section-paragraph{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;

    align-self: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: #edeaff;
    margin: 0% 0% 0% 5%;
}

.section-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#38344f;
    text-align: center;
    border-radius: 10px;
    margin-right: 1vw;
    width: 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.4vw;
    color: #9b9bba;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.section-button:hover{
    background-color:#9b9bba;
    color: #38344f;
}

.cards-showcase{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    display:flex;
    flex-direction: column;
    width: 15%;
    min-height: 30vh;
    background-color: #1b1b22;
    border-radius: 5% 5% 5% 5%;
}

.card-thumbnail{
    border-radius: 5% 5% 5% 5%;
}

.card-title{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #ffffff;
    justify-content: center;
    padding-top: 10%;
    text-shadow: aqua;
}

#about-me{
    background-color: #23232d;
}

#about-me-text{
    margin-right: 5%;
    text-align: justify;
}

.profile-pic{
    max-height: 50vh;
    max-width: 50vh;
    border-radius: 5% 0% 0% 5%;
}
#my-stacks{
    background-color: #2c2c38;
}
